*{
    margin: 0;
    padding: 0;
}
#headadd{
    height: 40px;
    width: 100%;
    background:url(https://i.pinimg.com/236x/fa/1d/40/fa1d40f8fd54ebdb8667057cca33792c.jpg);
    background-repeat:repeat;
    display: flex;
    align-items: center;

    justify-content: center;
}
#headadd>div{
    height: 40px;
    width: 306px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 220, 225);
    color:#066599;
    font-size: 20px;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: bold;
}
/*css for navbar starts heare */

#navbar{
     height: 157.5px;
    width: 100%;
    background-color: rgb(48, 81, 110);

}
#navhead{
    height: 40px;
    width: 100%;
    background-color: #bad7e7;
}
#navbody{
    height: 65.5px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbody>div{
    height: 100%;
    width: 33.33%;
    border: 1px solid red;
}
#mainlogo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#mainlogo>img{
    width: 50%;
    height: auto;

}
#navbotm{
    height: 52px;
    width: 100%;
    border: 1px solid black;
}
