*{
    background-color: none;
    color: none ;
}
#product_container{
    width: 70%;
    margin-left: 20%;
    margin-top: 70px;
}
#up_product_box h1{
    font-family: Arial,sans-serif;
    font-size: 24px;
    letter-spacing: 0px;
}
hr {
    height: 1px;
    background-color: black;
    border: none;
}
#buttons button{
    
    /* width: 200px ; */
    height: 35px;
    padding: 0px 16px;
    background-color: #333;
    border: none;
}
#buttons button a{
    color: #ffffff;
    font-family: Arial,sans-serif;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0px;
}

#buttons button:hover{
    background-color: rgb(235, 233, 233);


}
#buttons button a:hover{

    color: black;
}

#buttons{
width: 95%;
margin: auto;
text-align: center;
}
#buttons button{
    margin-right: 20px;
    margin-bottom: 20px;
}

#body_pro{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px ;

}
#up_product_box img {
    width: 97% ;
    height: 200px;
    /* margin: auto; */
    padding: 15px;
}

#body_pro img{
   
    height: 50%;
    width: 50%;
    margin-bottom: 20px;
    cursor: pointer;
    
}



/* filter */
#fil_sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

#filter{
    width: 80%;
    height: 40px;
    background-color: #f2f2f2;
    font-size: 13px;
    display: flex;
    font-family: Arial,sans-serif;
    padding: 10px;
   align-items: center;
   justify-content: space-around;
}
.selectBox{
    position: relative;
}
.selectBox select{
    width: 100%;
    font-weight: bold;
}
.overSelect{
    /* position: absolute; */
    left:0; right: 0; top: 0; bottom: 0;
}

#checkboxes{
    /* display: none; */
    /* border: 1px #dadada solid; */
    width: 125px
}
#checkboxes label{
    display: block;
}
#checkboxes label:hover{
    background-color: aqua;
}
#filter select{
    border: none;
    font-size: 15px;
    font-weight: bold;
    background-color:#f2f2f2;
 
}
/* sorting part */

#sort select{
    border: none;
    font-size: 15px;
    font-weight: bold;
}
#sort hr,#filter hr{
    height: 2px;
    background-color: black;  
}


/* product container */
#body_pro{
    font-family: Arial,sans-serif;
    text-align: center;
    /* line-height: 10px; */
}
#body_pro h{
    margin-bottom: 20px;
}

#body_pro button{
    width: 100%;
    height: 35px;
    background-color: #333;
    color: #ffffff;
    font-size: 11px;
    padding: 0px 13px;
    border:0px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
#body_pro button:hover{
    background-color: rgb(235, 233, 233);
    color: black;

}
#body_pro div>h3{
    color: #333333;
    font-size: 16px;
    cursor: pointer;
}
#body_pro div>h4{
    color: #666666;
    font-size: 12px;
}
#body_pro div h6{
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.badge{
    color: #005699;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}