#check{
    border-top: 1px solid #e5e5e5;
border-bottom: 1px solid #e5e5e5;

border-bottom-color: rgb(229, 229, 229);
border-bottom-style: solid;
border-bottom-width: 0.8px;
border-top-color: rgb(229, 229, 229);
border-top-style: solid;
border-top-width: 0.8px;
color: rgb(102, 102, 102);
font-family: Trade Gothic W01 Light, Arial, sans-serif;
font-size: 12px;
max-width: none
}

.customername{
font-size: 1.3125rem;
margin: 0;
line-height: 1;
cursor: pointer;
padding: 20px 35px 20px 18px;
position: relative;

}

h2,h3{
font-family: Trade Gothic W01 Light,Arial,sans-serif;
color: #333;
text-transform: uppercase;
font-weight: 400;
}
a{
    color: #666;
outline: medium none;
overflow: hidden;
}

#check h2.customername span{
    color: rgb(102, 102, 102);
cursor: pointer;
font-family: Trade Gothic W01 Light, Arial, sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 12px;
text-transform: none
}



form{
    width: 300px;
    margin-left: 20px;    
}
legend+label input{
    height: 20px;
    width: 20px;
    
}


#la1 {
    box-sizing: border-box;
    color:black;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: left;
   
}
#la2 {
    box-sizing: border-box;
    color:black;
    float: left;
    font-size: 10px;
    position: relative;
    text-align: left;
   
}
 form label{
     display: flex;
     margin-top: 20px;
     font-size: 18px;
 }
form input{
    width: 100%;
    padding: 7px;
    border-width: 1px;
    border-radius: 1px solid black;
    outline: none;
    border: none;
    border-color: rgba(209,213,219),var(--tw-border-opacity);
}
button{
    width: 320px;
    height:40px;
    margin-top: 20px;
    border: none;
    background-color: rgba(209,213,219,var(--tw-bg-opacity)) !important;;
}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}


#headimg{
    width: 10%;
    margin: auto;
     padding-left: 20px;
}
  
     

#btn1{
    border: 1px solid black;
   
   text-align: center;
   color: rgb(255, 255, 255);
   padding-left:100px;
   gap: 20px;
   
   
   margin: auto;
   justify-content: center;
   
   color: rgb(255, 255, 255);
   cursor: pointer;
   display: inline-block;
   font-family: Trade Gothic W01 Regular, Trade Gothic W01 Light, Arial, sans-serif;
   
}

































































































