*{
    margin: 0;
    padding: 0;
    font-family: "Zen Maru Gothic", sans-serif;
}

#navbar{
    height: 40px;
    width: 100%;
    background-color:rgb(242 242 242);
    display: flex;
    align-items: center;

}
#navbar>p{
    margin-left: 50px;
font-size: 12px;
color: rgb(32, 31, 31);
}

#logobar{
    height:80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
border-bottom: 1px solid rgba(136, 133, 133, 0.47);
} 
#logobar>img{
    height: auto;
    width:350px;
    cursor: pointer;

}
#gotobag{
position: absolute;
right:50px;
background-color: #FFFFFF;
color:blue;
border: 0;
cursor: pointer;
}

#addbody{
    height: auto;
    width: 450px;
 padding: 20px;

    margin-top: 50px;

}
#addbody>h1{
    text-align: center;
    font-size: 22px;
    font-weight: lighter;
}
#addbody>p{
    margin-top: 20px;
    font-size: 14px;
}

#addbody>p>span{
    color: red;
}
#addbody>input{
    height: 30px;
    width: 95%;
    margin-top: 15px;
}


#minmybody{
    height: auto;
    width: 70%;
    margin: auto;
    display: flex;
 
}

#proddetails{
    height:auto;
    width:400px;
    margin-top: 50PX;
    margin-left: 100PX;
  
}
#confo{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
}
#confo>lable{
    font-size: 14px;
   margin-left: 20px;
}

#oerdersec{
    text-align: center;
    font-size: 22px;
    font-weight: lighter;
    margin-top: 25px;
}

#fott{
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
 border-top: 2px solid rgba(128, 128, 128, 0.477);

}
#fott>img{
    height: 50px;
    width: auto;
    margin-left: 75px;
}
#fott>p{
    font-size: 12px;
    margin-right: 50px;
}
#footer{
   height: auto;
    width: 100%;
    background-color:rgb(242 242 242);
padding: 40px;
}
.footep{
    font-size: 12px;
  word-spacing: 5px;
     text-align: center;

}

#contener{
    height: auto;
    width: 100%;
    margin-top: 20px;
    display: block;
}
#contener>div{
    display: flex;
}

.proimg{
    height: 100px;
    width: 20%;
    text-align: center;
}
.proimg>img{
    height: 60%;
    width: auto;
}

.proo0odata{
    height: 100px;
    width: 60%;
}
.proo0odata>h4{
    font-size: 12px;
    margin-left: 30px;
    color: blue;
}
.proo0odata>h5{
    font-size: 10px;
    margin-left: 30px;
}
.proo0odata>p{
    font-size: 10px;
    margin-left: 30px;
    color: red;
}
.proo0odata>h6{
    font-size: 10px;
    margin-left: 30px;
}
#totalamountdesc{
    height: 40px;
    width: 90%;
    display: flex;

justify-content: flex-end;
    background-color: rgba(186, 202, 222, 0.478);
    border-top: 1px solid rgba(128, 128, 128, 0.477);
    font-size: 15px;
    font-weight: bolder;
  padding-left: 20px;
}
#gotobilling{
    height: 40px;
    width: 100%;
   margin-top: 20px; 
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 30px;
}

.cjghpo009{
    height: 35px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    border: 0;
}
.cjghpo009>img{
    height: 80%;
    width: auto;
}

.cjghpo09{
    height: 35px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bolder;
    border: 0ch;
    cursor: pointer;
}


